.header{
    width: 100%;
    height: 50px;
    display: flex;
}.menu{
    width: 100px;
    height: 40px;
    margin-top: 10px;
}#menu{
    width: 50px;
    height: 70px;
    color: darkgrey;
    margin-left: -430px;
    margin-top: -470px;
}.icon{
    width: 100px;
    height: 48px;
    margin-top: 0px;
    margin-left: 600px;
}img{
    width: 100px;
    height: 45px;
    margin-left: 3px; 
}.headright{
    width: 300px;
    height: 48px;
    margin-left: 400px;
    display: flex;
}.headright h1{
    font-size: 15px;
    color: darkgray;
    margin-top: 20px;
    margin-left: 80px;
}
.container1{
    width: 100%;
    height: 600px;
    border: 2px solid black;
    background-image: url("https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-ddc42f48f98ec4eb5accfb945a1cdfa3.webp");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}h1{
    color: #fff;
    font-size: 50px;
    text-align: left;
    margin-left: 170px;
    margin-top:90px;
    font-family: Arial, Helvetica, sans-serif;
}h2{
    color: #fff;
    text-align:left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 170px;
    padding-top: -20px;
}button{
    width: 200px;
    height: 50px;
    border: 2px #fff solid;
    background-color: black;
    color: #fff;
    margin-left: 170px;
    font-size: 15px;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}button:hover{
    color: black;
    background-color: #fff; 
}
.container2{
   width: 100%;
   height: 30px;
   border: 2px solid darkgrey;
   background-color: darkgrey;
}h3{
    color:#fff;
    text-align: center;
    margin-top: 2px;
    font-size: 15px;
}.container3{
    width: 100%;
    height: 1070px;
}.container3 h1{
    text-align: left;
    font-size: 50px;
    color: black;   
    line-height: 56px;
    font-weight: 600;
    font-family:ff-zwo-web,arial,sans-serif;
    margin-top: 80px;
    margin-left: 120px;
}.innerdiv{
    width:100% ;
    height: 900px;
    display: flex; 
}.innerdiv1{
    width: 500px;
    height: 895px;
    margin-right: 50px;
    padding-left: 50px;
}.innerdiv01{
    width: 495px;
    height: 440px;
    
    background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-ddbedf3cbd9a8a54019cb52035c97837.webp);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}.innerdiv01 h1{
    color: #fff;
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
    margin-top: -40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}i{
    color: #fff;
    padding-left: 450px;
    padding-top: 420px;
}.innerdiv02{
    width: 495px;
    height: 440px;
    margin-top: 10px;
    
    background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-a4b8659aca1db6d7c159ff712a57f0d6.webp);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}.innerdiv02 h1{
    color: #fff;
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
    margin-top: -40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.innerdiv2{
    width: 800px;
    height: 895px;
    margin-left: -45px;
    background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-3eff22d2677fcf823cf09a98c3d2be66.webp);
    background-size: cover;
    cursor: pointer;
}#div2{
    color: #fff;
    padding-left: 760px;
    padding-top: 870px;
}.innerdiv2 h1{
    color:#fff;
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
    margin-top:-35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}.body1{
    width: 100%;
    height: 650px;
}.body1 h1{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 50px;
}.body01{
    width: 1350px;
    height: 450px;
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
}.body02{
    width: 450px;
    height:450px ;
    background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-e1b06f9f9a63c3534749ad5e136ec848.webp);
    background-size: cover;
    cursor: pointer;
}.body02 h1{
    color:#fff;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
    margin-top: -20px;
}#body02{
    color:#fff;
    padding-left: 400px;
    margin-top: 10px;
}
.body03{
    width:450px ;
    height:450px ;
    margin-left: 20px;
    background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-8d8feca63aa2e5ccc4ba9ec1de73f6e5.webp);
    background-size: cover;
    cursor: pointer;
}#body03{
    color:#fff;
    padding-left: 400px;
    margin-top:10px ;
}.body03 h1{
    color:#fff;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
    margin-top: -20px;
}
.body04{
    width:450px ;
    height: 450px;
    margin-left: 20px;
    background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-00a025cc71ce01c2ebfd7c76bf127245.webp);
    background-size: cover;
    cursor: pointer;
}#body04{
    color:#fff;
    padding-left: 400px;
    margin-top:10px ;
}.body04 h1{
    color:#fff;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
    margin-top: -20px;
}.body2{
    width: 100%;
    height: 650px;
    
}.body2 h1{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 50px;
}.body21{
    width: 100%;
    height: 465px;
    display: flex;
}.body021{
    width: 700px;
    height: 450px;
    margin-left: 80px;
    background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-f8eaf1c7bd4a342954bcddf36ecdbde7.webp);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}.body022{
    width: 600px;
    height:450px ;
    margin-left: 2px;
}.body022 h5{
    color: grey;
   text-align: left;
    margin-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
}.body022 h2{
    color: black;
    margin-left: 0px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}#rel{
    height: 10px;
    color: grey;
    margin-left: 0px;
    margin-top:300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}#relicon{
    color: grey;
    margin-top: -444px;
    margin-left: -260px;
    margin-bottom: 100px;
    float: left;
}.body3{
    width: 100%;
    height: 450px;
    display: flex;
}.body31{
    width: 450px;
    height:450px ;
    margin-left: 80px;
}
.body311{
    width: 450px;
    height:300px ;
    background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-5fa87c393a92246dc038b672383a8dde.webp);
    background-size: cover;
    cursor: pointer;
}.body312{
    width:450px ;
    height: 145px;
   
}.body312 h4{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left:20px;
    margin-top: 10px;
}.body312 h2{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 18px;
    margin-top: -20px;
}.body312 h3{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left:18px ;
    margin-top: 40px;
    
}#body312icon{
    color: grey;
    margin-top: -450px;
    margin-left: -290px;
    padding-bottom: 100px;
    float: left;

}.body32{
    width: 450px;   
    height: 450px;
    
    margin-left: 10px;
}.body321{
    width:450px ;
    height: 300px;
    background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-e9715d9999a9c9497b4a25e23c8b37aa.webp);
    background-size: cover;
    cursor: pointer;
}.body322{
    width: 450px;
    height: 145px;
   
}.body322 h4{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:10px;
    margin-left: 20px;
}.body322 h2{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    margin-top: -20px;

}.body322 h3{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-top: 65px;
    margin-left: 20px;
}.body33{
    width: 450px;
    height: 450px;
    margin-left: 13px;
}.body331{
    width: 450px;
    height: 300px;
    background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-fb97d49e4f28d7a41f14bb95782f4639.webp);
    background-size: cover;
    cursor: pointer;
}.body332{
    width: 450px;
    height:145px ;
    
}.body332 h4{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    margin-top: 10px;
}.body332 h2{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    margin-top: -18px;

}.body332 h3{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
}.view{
    width: 100%;
    height: 100px;
   
}.view h2{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 600px;
   text-decoration: overline grey 1px;
}.footer{
    width: 100%;
    height: 1200px;
   
}.footer h1{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 70px;
}.footer1{
    width: 100%;
    height: 1000px;
   
    display: flex;
}.footer01{
    width: 350px;
    height: 850px;
  
    margin-left: 60px
}.footer011{
    width:350px ;
    height:430px ;
    background-image: url(https://scontent-frt3-2.cdninstagram.com/v/t51.29350-15/313744390_144239528069400_3275645049379220721_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=dqK4Qn6DYpkAX_L9N-Y&_nc_ht=scontent-frt3-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDa1oaxpxcitnSeoTpBQqRoLhfGxvySHYZDV4m_2thd4w&oe=636923DA);
    background-size: cover;
    cursor: pointer;
}.footer011 h3{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding-top: 23px;
    margin-left: 15px;
}.footer012{
    width:350px ;
    height:400px ;
    background-image: url(https://scontent-frt3-2.cdninstagram.com/v/t51.29350-15/313795500_495207122629703_4387103864247925542_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=XpsbzgxEOKYAX89Y7EP&_nc_ht=scontent-frt3-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDrMK8ObWpHh3E3hPnfMcQ_qEN8rv5Yyqe-QlD6SuDNTA&oe=6368F90A);
    background-size: cover;
    margin-top: 10px;
    cursor: pointer;
}.footer012 h3{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding-top: 23px;
    margin-left: 15px;
}.footer02{
    width: 330px;
    height: 1000px;
    margin-left: 10px;
}.footer021{
    width: 330px;
    height: 580px;
    background-image: url(https://scontent-frt3-2.cdninstagram.com/v/t51.29350-15/313205781_688466972923718_5345730929712534780_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=OnJ-6DHBkwgAX_m9Dc0&_nc_ht=scontent-frt3-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfC6LvybHulIz3yTVJARVdJfBdSY5_ZFfjlGn1lVs2gLzQ&oe=636A6FEE);
    background-size: cover;
    cursor: pointer;
}.footer021 h3{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
   padding-top: 23px;
    margin-left: 15px;
}.footer022{
    width: 330px;
    height: 400px;
    background-image:url(https://scontent-frt3-1.cdninstagram.com/v/t51.29350-15/313086538_1082164869121367_1996203447296526272_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=34_vPq3ZtHYAX-HzlVA&_nc_ht=scontent-frt3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDpaDytqF9GTHZit1Hxue9NrlH8gA-4YCQ6s9xX69g1kA&oe=63698F87) ;
    background-size: cover;
    margin-top: 10px;
    cursor: pointer;
}.footer022 h3{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding-top: 23px;
    margin-left: 15px;
}.footer03{
    width: 330px;
    height: 1000px;
    margin-left: 10px;
}.footer031{
    width: 330px;
    height: 580px;
    background-image: url(https://scontent-frt3-1.cdninstagram.com/v/t51.29350-15/313021164_842605596759434_8243565629219630650_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=5cpOWXX7lWoAX9sJg0N&_nc_ht=scontent-frt3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDRyoL1Mi0We9i4MGRwbekMhhhN5tyw94HwnVA8GINWyg&oe=636A6068);
    background-size: cover;
    cursor: pointer;
}.footer031 h3{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding-top: 23px;
    margin-left: 15px;
}.footer032{
    width: 330px;
    height: 400px;
    margin-top: 10px;
    background-image: url(https://scontent-frt3-1.cdninstagram.com/v/t51.2885-15/312743583_622953189319901_5247479363182904613_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=XgrkPrxpt_wAX8px7-4&_nc_ht=scontent-frt3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDUJnbRYIDYWw72QcSIQtbEYP_s0_BrnmDe0H4iylhqEw&oe=6369F1EF);
    background-size: cover;
    cursor: pointer;
}.footer032 h3{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
   padding-top: 23px;
    margin-left: 15px;
}.footer04{
    width: 350px;
    height: 850px;
    margin-left: 10px;
}.footer041{
    width:350px ;
    height:430px ;
    background-image: url(https://scontent-frx5-1.cdninstagram.com/v/t51.29350-15/312687244_2476814585791884_3239507907761003591_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=XI7P398vbcMAX91RSW4&_nc_ht=scontent-frx5-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfC_T7uXJwZDcUpy1iqsCxZbZ4y1f3dkK7xGc3pGAqc2Fg&oe=636A7173);
    background-size: cover;
    cursor: pointer;
}.footer041 h3{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
   padding-top: 23px;
    margin-left: 15px;
}.footer042{
    width:350px ;
    height:400px ;
    margin-top: 5px;
    background-image: url(https://scontent-frt3-1.cdninstagram.com/v/t51.2885-15/312376704_653059313034317_1115598080908977749_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=9WdTozbpTNkAX_mal3b&_nc_ht=scontent-frt3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDvZET_ctVdNJt3nD5qsk-bGLW3XWhU3_0r0vKGn6Kk1Q&oe=6368F2E9);
    background-size: cover;
    cursor: pointer;
}.footer042 h3{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding-top: 23px;
    margin-left: 15px;
}.view2{
    width: 100%;
    height: 80px;
   
}.view2 h2{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 600px;
    text-decoration: overline grey 1px;
}.last{
    width: 100%;
    height: 1400px;
    background-color: aliceblue;
}.last1{
    width: 100%;
    height:300px ;
}.last1 h1{
   color: black;
   text-align: center;
   font-family: normal;
   margin-left: 100px;
}.last01 h6{
  margin-top: 50px;
  margin-left: 400px;
  color: gray;
}#h62{
    margin-left: 700px;
    margin-top: -75px;
    color: gray;
}#h63{
    margin-left: 1100px;
    margin-top: -60px;
    color: gray;
}.last2{
    width: 100%;
    height:300px ;
}.last2 h1{
    color: black;
   text-align: center;
   font-family: normal;
   margin-left: 100px;
}#h64{
    margin-left: 400px;
    color: gray;
}#h65{
    margin-left: 700px;
    margin-top: -75px;
    color: grey;
}#h66{
    margin-left: 1100px;
    margin-top: -70px;
    color: gray;
}.last3{
    width: 100%;
    height:300px ;
}.last3 h1{
    color: black;
    text-align: center;
    font-family: normal;
    margin-left: 50px;
}#h67{
    margin-left: 400px;
    color: gray;
}#h68{
    margin-left: 700px;
    margin-top: -75px;
    color: grey;
}#h69{
    margin-left: 1100px;
    color: gray;
    margin-top: -70px;
}.last4{
    width: 100%;
    height:286px ;
}.last4 h1{
    color: black;
    text-align: center;
    font-family: normal;
    margin-left: 50px;
}#h60{
    color: gray;
    margin-left: 650px;
}.final{
    width: 100%;
    height: 180px;
    border: solid black 2px;
    background-color: black;
}#finalf{
    position: relative;
    color:#fff;
    float: left;
    padding-left: 600px;
    padding-top: 30px;
}#finalt{
    position: relative;
    color: #fff;
    float: left;
    padding-left: 28px;
    padding-top: 30px;
}#finali{
    position: relative;
    color:#fff;
    float: left;
    padding-left: 28px;
    padding-top: 30px;
}#finalp{
    position: relative;
    color:#fff;
    float: left;
    padding-left: 28px;
    padding-top: 30px;
}#finaly{
    position: relative;
    color: #fff;
    float: left;
    padding-left: 28px;
    padding-top: 30px;
}#finall{
    position: relative;
    color:#fff;
    float: left;
    padding-left: 28px;
    padding-top: 30px;
}#finalh6{
    margin-left: 630px;
    margin-top: 70px;
    color:#fff;
}li{
    display: inline;
    color: #fff;
    padding: 10px;
    margin-left: 30px;
}


    



